@import url("./fonts.css");

:root,
::backdrop {
  --standard-border-radius: 5px;
  --rem: 12pt;
  --width: 50rem;
  --font: 36px;
  --bg: #ffffff;
  --accent-bg: #f5f7ff;
  --nav-hover: #ffb300;
  --text: #111827;
  --text-light: #585858;
  --border: #898ea4;
  --accent: #0d47a1;
  --code: #d81b60;
}

[data-theme="light"] {
  color-scheme: light;
  ---bg: #fff;
  --accent-bg: #f5f7ff;
  --nav-hover: #ffb300;
  --text: #111827;
  --text-light: #585858;
  --border: #898ea4;
  --accent: #0d47a1;
  --code: #d81b60;
}

[data-theme="dark"] {
  color-scheme: dark;
  --bg: #212121;
  --accent-bg: #2b2b2b;
  --nav-hover: #ffb300;
  --text: #dcdcdc;
  --text-light: #ababab;
  --border: #f5f7ff;
  --accent: #ffb300;
  --code: #f06292;
}

body {
  color: var(--text);
  background-color: var(--bg);
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  margin: 0;
  font-family: burma;
  box-sizing: border-box;
}
body > * {
  grid-column: 2;
}
h1 {
  font-size: calc(--font - 6);
}
h2 {
  font-size: calc(--font - 8);
}
h3 {
  font-size: calc(--font - 10);
}
h4 {
  font-size: calc(--font - 12);
}
h5 {
  font-size: calc(--font - 14);
}
h6 {
  font-size: calc(--font - 16);
}
p {
  font-size: calc(--font - 20);
  font-weight: bold;
}
a {
  color: var(--accent);
  font-weight: bold;
  font-size: 18px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px;
  gap: 18px;
}

.hero > textarea {
  resize: none;
  grid-column: 1;
  padding: 25px;
  width: 80%;
  border: 3px solid var(--text);
  border-radius: 7px;
  background-color: black;
  color: azure;
}

.hero > .display {
  grid-column: 2;
  padding: 25px;
  width: 80%;
  height: 90%;
  border: 3px solid var(--text);
  border-radius: 7px;
  background-color: black;
  color: azure;
}
.title {
  text-align: center;
  font-family: burmese-umoe !important;
}

.top {
  display: flex;
  flex-direction: row;
  padding: 16px;
  gap: 30px;
}
.top > label {
  font-family: burmese-umoe;
  font-weight: bold;
}
.top > select {
  width: 200px;
  padding: 5px;
  border: 3px solid var(--text);
  text-align: center;
  font-size: medium;
  font-weight: bold;
  border-radius: 7px;
  background-color: black;
  color: azure;
}
.top > .run {
  padding: 3px;
  color: var(--text);
  width: 54px;
  font-size: x-large;
  border: none;
  background-color: var(--bg);
}
.top > .refresh {
  padding: 3px;
  color: var(--text);
  width: 54px;
  font-size: x-large;
  text-decoration: none;
  border: none;
  background-color: var(--bg);
}
.top > .refresh:hover {
  color: var(--accent);
  cursor: pointer;
}
.top > .run:hover {
  color: var(--accent);
  cursor: pointer;
}
.top > #theme {
  width: fit-content;
  border: none;
  background-color: var(---bg);
  text-decoration: none;
  font-size: x-large;
  float: right;
}

.top > #theme:hover {
  color: var(--accent);
  cursor: pointer;
}
