@font-face {
  font-family: "burmese-mono";
  src: url("./fonts/burmese-mono/Burmese_Mono.eot") format("embedded-opentype"),
    url("./fonts/burmese-mono/Burmese_Mono.woff2") format("woff2"),
    url("./fonts/burmese-mono/Burmese_Mono.woff") format("woff"),
    url("./fonts/burmese-mono/Burmese_Mono.ttf") format("truetype"),
    url("./fonts/burmese-mono/Burmese_Mono.otf") format("opentype"),
    url("./fonts/burmese-mono/Burmese_Mono.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
